/* Page header */

.header {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

.header__heading {
  text-align: center;
  font-size: 3.5rem;
  line-height: 1;
  font-weight: 700;
}

.header__subtitle {
  text-align: center;
  color: hsl(var(--clr-neutral-700));
  margin-top: 0.75em;
}

.header__btns {
  display: flex;
  gap: 0.5em;
  margin-top: 2.5em;
}

.header__btn {
  font-weight: 600;
}

.header__btn.mainBtn {
  background-color: hsl(var(--clr-primary-400));
  border-color: hsl(var(--clr-primary-400));
  color: hsl(var(--clr-neutral-900));
}

.header__btn.mainBtn:hover {
  background-color: hsl(var(--clr-primary-500));
  border-color: hsl(var(--clr-primary-500));
  color: hsl(var(--clr-neutral-900));
}

/* About */

.about__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 2em;
  width: 70%;
  max-width: 10rem;
  filter: invert(180);
}

.about :global(.main__heading) {
  text-align: center;
}

.about :global(.main__paragraph) {
  margin: 0 auto;
}

.about__list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1em;
}

.about__item {
  border-radius: 8px;
  flex: 1;
  min-width: 256px;
  padding: 2px;
  background-image: linear-gradient(45deg, hsl(var(--clr-primary-400)) 0%, hsl(var(--clr-neutral-800), 0.1) 25% 75%, hsl(var(--clr-primary-400)) 100%);
  display: flex;
  position: relative;
}

.about__item::before,
.about__item::after {
  content: "";
  border-radius: inherit;
  height: 100%;
  width: 100%;
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;

  opacity: 0;
  transition: opacity 0.2s ease;
}

.about__item::before {
  background-image: radial-gradient(
    50rem circle at var(--mouse-x) var(--mouse-y),
    hsl(var(--clr-neutral-600), 0.25) 0%,
    hsl(var(--clr-neutral-500), 0.15) 15%,
    transparent 40%
  );
  z-index: 3;
}

.about__list:hover .about__item::after {
  opacity: 1;
}

.about__item:hover::before {
  opacity: 1;
}

.about__item::after {
  background-image: radial-gradient(25rem circle at var(--mouse-x) var(--mouse-y), hsl(var(--clr-primary-800), 0.35), transparent 40%);
  z-index: 1;
}

.about__content {
  background-color: hsl(var(--clr-neutral-100));
  border-radius: inherit;
  padding: 1em;
  border-radius: 8px;
  flex-grow: 1;
  position: relative;
  z-index: 2;
}

.about__item:hover :global(.main__paragraph) {
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.about__title {
  text-align: center;
  margin-bottom: 1em;
}

/* Join call to action */

.joinCta {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
}

.joinCta__img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.joinCta__btn {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.5em 2.5em;
  background-color: hsl(var(--clr-primary-400));
  color: hsl(var(--clr-neutral-900));
}
