/* Footer code */

.footer {
  background-color: hsl(var(--clr-neutral-200));
  padding: 2em 1em;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--max-width);
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__list {
  list-style-type: circle;
  margin-left: 1em;
}

.footer__title {
  margin-bottom: 0.5em;
  color: hsl(var(--clr-neutral-800));
  font-weight: 600;
}

.footer__copyright {
  text-align: center;
  margin-top: 1em;
}
