*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 100%;

  --font: "Inter", system-ui, Avenir, sans-serif, Helvetica, Arial;

  --clr-neutral-100: 0, 4%, 5%;
  --clr-neutral-200: 0, 5%, 15%;
  --clr-neutral-300: 0, 6%, 25%;
  --clr-neutral-400: 0, 7%, 35%;
  --clr-neutral-500: 0, 7%, 50%;
  --clr-neutral-600: 0, 7%, 60%;
  --clr-neutral-700: 0, 7%, 70%;
  --clr-neutral-800: 0, 7%, 80%;
  --clr-neutral-900: 0, 7%, 90%;
  --clr-primary-100: 0, 100%, 5%;
  --clr-primary-200: 0, 100%, 15%;
  --clr-primary-300: 0, 100%, 25%;
  --clr-primary-400: 0, 100%, 35%;
  --clr-primary-500: 0, 100%, 50%;
  --clr-primary-600: 0, 100%, 60%;
  --clr-primary-700: 0, 100%, 70%;
  --clr-primary-800: 0, 100%, 80%;
  --clr-primary-900: 0, 100%, 90%;

  --max-width: 1200px;
  --navbar-height: 50px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--navbar-height);
}

body {
  font-size: 1rem;
  font-family: var(--font);
  color: hsl(var(--clr-neutral-900));
  background-color: hsl(var(--clr-neutral-100));
  margin-top: var(--navbar-height);
}

button,
input,
select {
  font-size: 1rem;
  font-family: var(--font);
  color: hsl(var(--clr-neutral-900));
}

button {
  background-color: hsl(var(--clr-neutral-100));
  border: 1px solid hsl(var(--clr-neutral-300));
  padding: 0.5em 0.75em;
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

button.mainBtn {
  background-color: hsl(var(--clr-neutral-900));
  border-color: hsl(var(--clr-neutral-700));
  color: hsl(var(--clr-neutral-100));
}

button:hover {
  cursor: pointer;
  background-color: hsl(var(--clr-neutral-200));
}

button.mainBtn:hover {
  background-color: hsl(var(--clr-neutral-800));
  border-color: hsl(var(--clr-neutral-800));
  color: hsl(var(--clr-neutral-200));
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: hsl(var(--clr-primary-500));
  text-shadow: 0 0 6px hsl(var(--clr-neutral-100), 0.5);
}

a:hover {
  color: hsl(var(--clr-primary-600));
}

.main {
  padding: 1em;
  max-width: var(--max-width);
  width: 100%;
  margin-inline: auto;
  min-height: 85vh;
}

.main__section {
  margin-bottom: 3em;
  position: relative;
}

.main__heading {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 0.75em;
}

.main__paragraph {
  max-width: 75ch;
  color: hsl(var(--clr-neutral-800));
}

.main__paragraph ~ .main__paragraph {
  margin-top: 1em;
}

/* Global media queries */

@media (prefers-reduced-motion) {
  html {
    scroll-behavior: initial;
  }
}

@media screen AND (max-width: 700px) {
  :root {
    font-size: 70%;
  }
}
